* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
html, body, .question {
    height: 100%;
  }

article {
    display: flex;
    flex-direction: column;
}

.question_header {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    background-color: #5e86f3;
}

.back_button {
    position: absolute;
    cursor: pointer;
    background-color: #5e86f3;
    border-width: 0;
    left: 0;
    font-size: 20px;
    color: rgb(219, 215, 215);
}

.head_text {
 font-size: 20px;
 color: aliceblue;
}

.progress {
    border-radius: 0;
}
.quiz {
    background-color: black;
    height: 25%;
}


.quiz_text {
    color: aliceblue;
}

#multiple {
    display: none;
    margin-top: 25px;
}

.file_name {
    background-color: rgb(30, 42, 206);
    
}
.btn:focus{
    outline: none;
    border: none;
}
.choice_btn {
    width: 100%;
    border: 1.5px solid rgb(170, 170, 170);
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 15px;
}
#typing {
    height: 50vh;
    display: none;
}

.underline {
    background-color: rgb(236, 232, 232);
    width: 15%;
    border-style:none;
    border-bottom:solid 1px black;
    border-collapse:collapse; 
}

.text-blue {color: rgb(60, 95, 212)};

#submit {
    /* 왜 가운데 정렬 안 되는 거닝닝 */
    position: fixed;
    bottom: 0;
    margin-bottom: 25px;
    width: 100%;
}

#correct, #not_correct {
    display: none;
    position: fixed;
    bottom: 0;
    margin-bottom: 25px;
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit_btn, .correct_btn {
    width: 100%;
    background-color: #5e86f3;
    border: 1.5px solid rgb(170, 170, 170);
    font-size: 17px;
}

#block {
    height: 53%;
}

.code_background {
    background-color: rgb(236, 232, 232);
    height: 30%
}

.blocks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.block_btn {
    color: white;
    border: 1.5px solid rgb(170, 170, 170);
    border-radius: 8px;
    background-color: #5e86f3;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
} 
.block_btn:focus {
    outline: none;
    border: none;
}
.block_btn:active {
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: relative;
    top:2px; 
}

.flex-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.flex-center {
    width: 100%;
    display: flex;
    flex-direction: center;
}

.skip_btn, .retry_btn {
    width: 40%;
    border: 1.5px solid rgb(170, 170, 170)
}



.skip_btn{
    background-color: gray;
}
.retry_btn{
    background-color: #5e86f3;
}

/* complete */

.complete {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .completeImg {
    margin-top: 30px;
    display: flex;
    width: 100%;
    border-radius: 30px;
  }
  .subInfo {
    color: rgb(180, 180, 180);
    font-weight: 400;
    font-size: 12px;
  }
  .complete_button {
    margin-top: 3px;
    width: 60%;
    height: 6%;
    border-radius: 8px;
    background-color: #12338f;
    color: white;
    font-size: 16px;
  }
  .complete_button_text {
    color: 'white';
    font-size: 20px;
  }